[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
python-dateutil = "*"
openpyxl = "*"
numpy = "*"
pyinstaller = "*"
pefile = "*"
black = "*"
kivy = {extras = ["base"], version = "*"}
kivymd = "*"

[dev-packages]

[requires]
python_version = "3.8"
